[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
docutils = "*"

[packages]
django = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-filter = "*"
django-markdown = "*"

[requires]
python_version = "3.8"
