{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="gray-bg pt-3 pb-3">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <small class="text-muted float-right"><a href="{{request.url}}">Reset</a></small>
                    {% if object %}
                    Edit Invoice
                    {% else %}
                    Create Invoice
                    {% endif %}
                </h5>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">{{ form.customer_name|as_crispy_field}}</div>
                        <div class="col-md-6">{{ form.date|as_crispy_field}}</div>
                    </div>
                    {% if object%}
                    <input type="submit" value="Update" class="btn btn-primary">
                    {% else %}
                    <input type="submit" value="Add" class="btn btn-primary">
                    {% endif%}
                </form>
            </div>
        </div>
        {% if recent %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Recently Added</h5>
                <div class="table-responsive mt-3">

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>In stock</th>
                                <th>Sale Price</th>
                            </tr>
                        </thead>
                        {% for item in recent %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.stock }}</td>
                            <td>{{ item.sale_price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="6">No products found!</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    {% endif %}

</div>
{% endblock %}
{% block extras%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#id_category").autocomplete({
            source: '{% url "api-categories" %}',
            minLength: 1
        })
    })
</script>
{% endblock %}