{% extends 'home/base.html' %}
{% block content %}
<div class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Invoice <a href="{% url 'sales-edit' object.pk %}" class="btn btn-outline-primary">Edit</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        Customer: {{ object.customer_name }}
                    </div>
                    <div class="col-md-6">
                        Dated: {{ object.date }}
                    </div>  
                </div>
                <hr>
                <h5>Products:</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in object.entries.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ entry.product.brand }}</td>
                                <td>{{ entry.product.name|default:"Deleted product" }}</td>
                                <td>{{ entry.price }}</td>
                                <td>{{ entry.quantity }}</td>
                                <td>{{ entry.total_price|floatformat:2 }}</td>
                                <td><a href="#" class="btn btn-danger">Delete</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No entries found</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Gross Total</th>
                                <td>{{ object.gross_total|floatformat:2 }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Discount</th>
                                <td>{{ object.discount|floatformat:2 }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Net Total</th>
                                <td>{{ object.net_total|floatformat:2 }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'sales-entry-add' object.pk %}" class="btn btn-outline-primary">Add Products</a>
                <a href="{% url 'sales-list' %}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
