{% extends 'home/base.html' %}
{% block content %}
<div class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Invoice {% if object.finalized == 0 %}<a href="{% url 'sales-edit' object.pk %}" class="btn btn-outline-primary">Edit</a>{% endif %}
                <a href="{% url 'sales-print' object.pk %}" target="_blank" class="btn btn-info">Print</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        Customer: {{ object.name }}
                    </div>
                    <div class="col-md-6">
                        Dated: {{ object.date }}
                    </div>  
                </div>
                <hr>
                <h5>Products:</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                {% if object.finalized == 0 %}
                                <th>&nbsp;</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in object.entries.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ entry.product.brand }}</td>
                                <td>{{ entry.product.name|default:"Deleted product" }}</td>
                                <td>{{ entry.price }}</td>
                                <td>{{ entry.quantity }}</td>
                                <td>{{ entry.total_price|floatformat:2 }}</td>
                                {% if object.finalized == 0 %}
                                <td>
                                    <form action="{% url 'sales-entry-delete' entry.pk %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">No entries found</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Gross Total</th>
                                <td>{{ object.gross_total|floatformat:2 }}</td>
                                {% if object.finalized == 0 %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>
                                    Discount 
                                    {% if object.finalized == 0 %}%
                                    (<a href="{% url 'sales-edit' object.pk %}">Edit</a>)
                                    {% endif %}
                                </th>
                                <td>{{ object.discount|floatformat:2 }}</td>
                                {% if object.finalized == 0 %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Net Total</th>
                                <td>{{ object.net_total|floatformat:2 }}</td>
                                {% if object.finalized == 0 %}
                                <td>
                                    <form id="finalize-form" method="POST">
                                        {% csrf_token %}
                                    </form>
                                    <button class="btn btn-info" id="finalize-form-button">Finalize Invoice</button>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                {% if object.finalized == 0 %}
                <a href="{% url 'sales-entry-add' object.pk %}" class="btn btn-outline-primary">Add Products</a>
                {% endif %}
                <a href="{% url 'sales-list' %}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<script>
    $(function(){
        $("#finalize-form-button").on('click', function () {
            if(confirm("Are you sure you want to finalize this invoice? This operation is irreversible.")){
                $('#finalize-form').submit()
            }
        })
    })
</script>
{% endblock %}
