{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Purchases <a href="{% url 'purchase-create' %}" class="btn btn-outline-primary">Create</a></h5>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Filter List
                                </button>
                                <small class="text-muted float-right"><a href="{% url 'purchase-list' %}">Clear</a></small>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <form action="" method="GET">
                                    {{ filter.form|crispy }}
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Vendor Name</th>
                                <th>Value</th>
                                <th>Date</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        {% for invoice in page_obj %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td><a href="{% url 'purchase-view' invoice.pk %}">{{ invoice.name }}</a></td>
                            <td>{{ invoice.net_total|floatformat:2 }}</td>
                            <td>{{ invoice.date }}</td>
                            <td><a href="{% url 'purchase-delete' invoice.pk %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="6">No Invoices found!</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% include 'organization/partials/pagination.html' %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
    crossorigin="anonymous"></script>
{% endblock %}