{% extends 'home/base.html' %}
{% load humanize %}
{% block content %}
<div class="container mt-5 mb-5">
    Organization Code: {{ organization.name|truncatechars:5|slugify }}#{{ organization.pk }}
    {% if request.user.organization %}
        <a href="{% url 'org-settings' %}" class="btn btn-secondary float-right ml-3">Orgnization Settings</a>
    {% endif %}
    <a href="#" class="btn btn-secondary float-right">Account Settings</a>
</div>
{% if request.user.permissions.dashboard_permissions > 0 or request.user.organization %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    <h1>{{ organization.products.count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Invoices
                </div>
                <div class="card-body">
                    <h1>{{ organization.salesinvoice.count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Sales this month
                </div>
                <div class="card-body">
                    <h1>{{ sale_this_month|default:0|intcomma }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ request.user }}!</h1>
        {% if not request.user.permissions or request.user.permissions.no_permissions %}
            Looks like you do not have any permissions assigned yet, please contact the organization administrator.
        {% else %}
            <ul class="nav nav-pills nav-fill dash-nav">
                {% if user.permissions.product_permissions > 0 %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'products-list' %}">Products</a>
                </li>
                {% endif %}
                {% if user.permissions.sales_permissions > 0 %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'sales-list' %}">Sales</a>
                </li>
                {% endif %}
                {% if user.permissions.purchase_permissions > 0 %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'purchase-list' %}">Purchase</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}