{% extends 'home/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <a href="" class="btn btn-secondary float-right">Orgnization Settings</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div class="card-body">
                    <h1>{{ organization.products.count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Invoices
                </div>
                <div class="card-body">
                    <h1>{{ organization.salesinvoice.count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Sales this month
                </div>
                <div class="card-body">
                    <h1>{{ sale_this_month|default:0|intcomma }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}