{% extends 'organization/settings_base.html' %}
{% load crispy_forms_tags %}
{% block settings %}

<ul class="list-group">
    {% for request in object_list %}
    <li class="list-group-item">
        {{ request.user.username }}
        <div class="float-right">
            <form action="{% url 'org-requests-action' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ request.pk }}">
                <input type="submit" name="action" value="Accept" class="btn btn-info btn-sm">
                <input type="submit" name="action" value="Deny" class="btn btn-info btn-sm">
            </form>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">No pending requests</li>
    {% endfor %}
</ul>


{% endblock %}