{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="gray-bg pt-3 pb-3">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="login" class="btn btn-primary" value="Login"> <small class="text-muted">Don't have an account? Sign up here.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock%}