{% extends 'home/base.html' %}
{% block content %}
<div class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Products <a href="{% url 'products-add' %}" class="btn btn-outline-primary">Add</a></h5>
                </div>
                <div class="table-responsive mt-3">

                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>In stock</th>
                                <th>Sale Price</th>
                            </tr>
                        </thead>
                        {% for item in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.stock }}</td>
                            <td>{{ item.sale_price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="6">No products added!</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}