{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h5>Products <a href="{% url 'products-add' %}" class="btn btn-outline-primary">Add</a></h5>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Filter List
                                </button>
                                <small class="text-muted float-right"><a href="{% url 'products-list' %}">Clear</a></small>
                            </h5>
                        </div>
                
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <form action="" method="GET">
                                    {{ filter.form|crispy }}
                                    <input type="submit" value="Search" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Brand</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>In stock</th>
                                <th>Sale Price</th>
                            </tr>
                        </thead>
                        {% for item in filter.qs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.code }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.stock }}</td>
                            <td>{{ item.sale_price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="6">No products added!</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="pagination d-flex flex-column">
                {% if is_paginated %}

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            
                            {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }} of {{ page_obj.paginator.num_pages }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                
                {% endif %}
                </div>
              
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#id_category").autocomplete({
                    source: '{% url "api-categories" %}',
                    minLength: 1
                })
            $("#id_name").autocomplete({
                    source: '{% url "api-names" %}',
                    minLength: 1
                })
            $("#id_brand").autocomplete({
                    source: '{% url "api-brands" %}',
                    minLength: 1
                })
        })
    </script>
{% endblock %}